*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./homepage\ bg.jpg);
}
#title{
  margin-left: 25%;
}
label{
    color: yellow;
    margin-left: 37%;
    font-size: xx-large;
    text-shadow: 2px 2px 2px  black;
    margin-bottom: 10%;
}
input{
    border-color: black;
    width: 200px;
    height: 23px;
}
a{
    color: yellow;
    text-decoration: none;
}
a:hover{
    color: red;
}
#enter{
    font-size: x-large;
    cursor: pointer;
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left:48%;
    margin-top: 30px;
    background-color: black;
    color: yellow;
}
.rounded-button{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: grey;
    color: yellow;
    border: black;
    font-size: x-large;
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 40px;
}

